<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="W4PLEGO_BaseIntegration::web4pro" title="Web4Pro Menu">
                    <resource id="W4PLEGO_BaseIntegration::integrations" title="Web4Pro Integrations">
                        <resource id="W4PLEGO_BaseIntegration::processes" title="Integrations List" sortOrder="10"/>
                        <resource id="W4PLEGO_BaseIntegration::logs" title="Integrations Logs" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
