<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web_urlrewrite>
            <general>
                <prefix>shop2/</prefix>
                <prefix_category>shop2_category/</prefix_category>
            </general>
        </web_urlrewrite>
    </default>
</config>
