<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="urlrewrite" translate="label" sortOrder="11">
            <label>UrlRewrite</label>
        </tab>
        <section id="web_urlrewrite" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>UrlRewrite</label>
            <tab>urlrewrite</tab>
            <resource>Web_Rewrite::config_urlrewrite</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="prefix" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prefix</label>
                </field>
                <field id="prefix_category" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prefix Category</label>
                </field>
            </group>
        </section>
    </system>
</config>

