<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="W4PLEGO_SalesSequenceProfilesEditor::profile"
             title="Sales Sequence"
             module="W4PLEGO_SalesSequenceProfilesEditor"
             parent="Magento_Sales::sales_operation"
             action="sales_sequence/profile/index"
             resource="W4PLEGO_SalesSequenceProfilesEditor::profile"
             sortOrder="999"/>
    </menu>
</config>
