<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add action="al_login_as/loginascustomer/index"
             id="KiwiCommerce::kiwicommerce_login_as_customer" module="KiwiCommerce_LoginAsCustomer"
             parent="Magento_Customer::customer" resource="KiwiCommerce_LoginAsCustomer::kiwicommerce_login_as_customer" sortOrder="9999"
             title="Login As Customer"/>
    </menu>
</config>
