<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Framework\Model\Product\Pricing\Renderer\SalableResolverInterface"
                type="Magento\Catalog\Model\Product\Pricing\Renderer\SalableResolver"/>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="hidebutton" type="Web\HidePrice\Plugin\HideButton" sortOrder="1"/>
    </type>

    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="hideprice" type="Web\HidePrice\Plugin\HidePrice"/>
    </type>


<!--        <type name="Magento\Catalog\Model\Product">-->
<!--            <plugin name="changeprice" type="Web\HidePrice\Plugin\Price" sortOrder="1" />-->
<!--        </type>-->


</config>

