<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mini" translate="label" sortOrder="10">
            <label>Mini</label>
        </tab>
        <section id="web_mini" translate="label" type="text" sortOrder="1300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mini</label>
            <tab>mini</tab>
            <resource>Web_Mini::mini_configuration</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Timeout minicart</label>
                <field id="timeout" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Timeout minicart:</label>
                    <comment>seconds * 1000</comment>
                </field>
            </group>
        </section>
    </system>
</config>
